version: "3.8"
services:
  modbus:
    container_name: modbus_app
    build: 
      context: ./modbus
      dockerfile: DockerFile.c
    depends_on:
      - redis_db
    devices:
      - "/dev/ttyS1:/dev/ttyS1"   # if hardware needed
    volumes:
      - shared_data_volume:/app/data        # share SQLite configs
      - ./modbus:/app
    networks:
      - my_network  
  redis_db:
    image: redis:latest
    container_name: redis_server
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - my_network  

  flask_web_app:
    build: 
      context: ./webserver
      dockerfile: DockerFile.flask
    container_name: flask_dashboard
    ports:
      - "80:80" # maps container port 80 to host port 80
    depends_on:
      - redis_db
    volumes:
      - shared_data_volume:/app/data       # mount SQLite DB
      - ./webserver:/appls
    networks:
      - my_network
  nodered:
    image: nodered/node-red:latest
    ports:
      - "1880:1880"
    depends_on:
      - redis_db      
    volumes:
      - ./nodered-data:/data
    networks:
      - my_network

volumes:
  # Define the named volumes at the bottom
  redis_data:
    driver: local
  shared_data_volume:
    driver: local

networks:
  my_network:
    driver: bridge