version: "3.9"

services:
  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"

  modbus:
    build: ./modbus
    depends_on:
      - redis
    devices:
      - "/dev/ttyS1:/dev/ttyS1"
    privileged: true
    volumes:
      - ./modbus/iot.db:/data/config.db    
    restart: always

  flask:
    build: ./webserver
    depends_on:
      - redis
      - modbus
    volumes:
      - ./modbus/db/iot.db:/data/iot.db
    ports:
      - "80:80"
    restart: always
